{
  "extends": "prettier",
  "plugins": [
    "import",
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "import/first": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "optionalDependencies": true,
      "peerDependencies": true
    }],

    "prettier/prettier": ["error", {
      "singleQuote": true
    }]
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/**/*.js"
      ],
      "plugins": [
        "jest"
      ],
      "env": {
        "jest/globals": true
      },
      "rules": {
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error"
      }
    }
  ]
}
